---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Services from "../components/sections/Services.astro";
import Reviews from "../components/sections/Reviews.astro";
import ContactForm from "../components/sections/ContactForm.astro";
---

<Layout>
  <main>
    <Hero />
    <About />
    <Services />
    <Reviews />
    <ContactForm />
  </main>
</Layout>
